{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
      <h1 class="center">Bienvenue sur notre blog</h1>
      <h2 class="center">Nos catégories</h2>

          <div class="categories" style="display:flex;flex-wrap:wrap; flex-direction:row; justify-content:center;margin-left:50px; margin-right:50px;">
          {% for categorie in categories %}
          <div class="itemCategorie" style=" width:200px; height:200px; margin-left:40px; margin-right:40px;margin-top:40px; margin-bottom:40px;">
            <a href="{{ path('category_show', { 'slug': categorie.slug }) }}"><img style="position:absolute;width:200px; height:200px;" src="{{ asset('uploads/images/' ~ categorie.image) }}"></a>
            <!--<a style="position:absolute;width:200px;text-align:center;margin:auto; font-size:40px; color:red; line-height:200px;" >TEST</a>-->
          </div>

          {% endfor %}
          </div>

            <h2 class="center">Nos derniers articles</h2>

          {% for article in articles %}
          <div class="itemArticle">
              <div class="photoArticle">
                <img style="width:50px; height:50px; margin:auto;" src="{{ asset('uploads/images/' ~ article.categories.image)}}">
              </div>
              <div class="contentArticle">
                <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                  {{ article.titre }}
                </a>
                <div class="resumeArticle">
                  {{ article.resume }}
                </div>
                <div class="dateArticle">
                  {{ article.date|date('Y-m-d') }}
                </div>
              </div>
          </div>
          {% endfor %}
    </div>
{% endblock %}
