<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Super blog | Admin !{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen">
          <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" media="screen">
          <link rel="stylesheet" href="{{ asset('css/stylesAdmin.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
          <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans') }}" />
          <script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="page">
          <header>
            <h2>ESPACE ADMINISTRATEUR</h2>
          </header>

          <nav>
            <ul>
                <li><a href="{{path('article_index')}}">Gestion des articles</a></li>
                <li><a href="{{path('category_index')}}">Gestion des catégories</a></li>
              {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{path('user_index')}}">Gestion des utilisateurs</a></li>
              {% endif %}
            </ul>
          </nav>
          {% block body %}

          {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
