{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ user.roles[0] }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
      <ul>
          <li>
              <a href="{{ path('user_index') }}">Back to the list</a>
          </li>
          <li>
              <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
          </li>
      </ul>
    {% endif %}
{% endblock %}
