<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
          <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans') }}" />
          <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{asset('js/jquery.min.js')}}"></script>
        <!--           <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script> -->

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=983387918352908";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
        <div class="page">
          <header>
            <nav>
              <div class="icon">Titre</div>
              <ul>
                <li><a href="{{path('homepage')}}">Accueil</a></li>
                <li><a href="{{path('article_recent_index')}}">Nos articles récents</a></li>

                {{ render(controller(
                    'BlogBundle:Default:navigationCateg'
                )) }}


                <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                {% if app.user %}
                <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                {% endif %}
                {% if  is_granted("ROLE_REDACTEUR") %}
                  <li><a href="{{path('admin_home')}}">Espace administrateur</a></li>
                {% endif %}
                <li><img id="buttonNotif" style="width:30px; height:30px;position:absolute; left:100%; margin-left:-100px; cursor:pointer;" src="{{ asset('img/notification.png') }}"</li>
              </ul>
            </nav>
            <div id="notification" style=" overflow-y:scroll; width:300px;min-height:50px; max-height:300px; position:absolute; left:100%; margin-left:-300px; display:none;">
              <div style="height: 50px; width:300px; border-bottom:1px solid #2B2E39; background-color: #E9EBEC; cursor:pointer; padding:15px; color:#2B2E39">Nouvel article publié par test</div>
            </div>
          </header>
          {% block body %}

          {% endblock %}
          <footer>
            Footer
          </footer>

          {% block javascripts %}
          {% endblock %}
        </div>
        <script>
          function checkNotifs(){
            $.ajax({
               url : Routing.generate('check_notifs', {}),
               type : 'GET',
               success : function(res, statut){
                   alert("Appel de l'API reussi");
                   alert(res);
               },

               error : function(resultat, statut, erreur){
                 alert("Echec de l'appel de l'API");
               },

            });
          }
          checkNotifs();
          setInterval(checkNotifs, 10000);

          $( "#buttonNotif" ).click(function() {
            $("#notification").toggle();
            //$('#notification').html('<p>TEST</p>');
          });
        </script>

    </body>
</html>
