<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen">
          <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" media="screen">
          <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
          <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans') }}" />
          <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{asset('js/jquery.min.js')}}"></script>
        <!--           <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script> -->

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=983387918352908";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
        <div class="page">
          <header>
            <nav>
              <div class="icon">Titre</div>
              <ul>
                <li><a href="{{path('homepage')}}">Accueil</a></li>
                <li><a href="{{path('article_recent_index')}}">Nos articles récents</a></li>
                {% if app.user %}
                  <li><a href="{{path('article_suivis')}}">News suivis</a></li>
                {% endif %}

                {{ render(controller(
                    'BlogBundle:Default:navigationCateg'
                )) }}


                {% if (app.user == false) %}
                  <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                  <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                {% endif %}
                {% if app.user %}
                <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                {% endif %}
                {% if  is_granted("ROLE_REDACTEUR") %}
                  <li><a href="{{path('admin_home')}}">Espace administrateur</a></li>
                {% endif %}
                {% if app.user %}
                  <li><img id="buttonNotif" style="width:30px; height:30px;position:absolute; left:100%; margin-left:-100px; cursor:pointer;" src="{{ asset('img/notification.png') }}"</li>
                {% endif %}
              </ul>
            </nav>
            {% if app.user %}
              <div id="notification">
              </div>
            {% endif %}
          </header>
          {% block body %}

          {% endblock %}
          <footer>
            Footer
          </footer>

          {% block javascripts %}
          {% endblock %}
        </div>
        <script>
          function checkNotifs(){

            var content = "";
            var nbNotif = 0;

            $.ajax({
               url : Routing.generate('check_notifs', {}),
               type : 'GET',
               success : function(res, statut){
                   //console.log(res);
                   res.data.forEach(function(elem){
                     //console.log(elem);
                     if(elem.viewed == true){
                       content += '<div class="notif viewed"><a href="'+Routing.generate("article_show", {"slug":elem.slug})+'">'+elem.user+' a posté un nouveau article</br>'+elem.titre+'</a></div>';
                     }
                     else{
                       //alert(elem.slug);
                       //var varFunction = elem.id +  ','+  elem.slug;
                       content += '<div class="notif not-viewed" onclick="notificationViewed('+elem.id+ ')" >'+elem.user+' a posté un nouveau article</br>'+elem.titre+'</div>';
                     }
                   })
                   //alert(content);
                   $('#notification').html(content);
               },

               error : function(resultat, statut, erreur){
                 console.log("Echec de l'appel de l'API");
               },

            });
          }
          checkNotifs();
          setInterval(checkNotifs, 10000);

          $( "#buttonNotif" ).click(function() {
            $("#notification").toggle();
          });

          //function notificationViewed(id, slug){
          function notificationViewed(id){

            $.ajax({
               url : Routing.generate('update_viewed', {}),
               type : 'POST',
               data: 'id=' + id,
               success : function(res, statut){
                  document.location.href = Routing.generate("article_show", {"slug":res});
               },

               error : function(resultat, statut, erreur){
                 alert("Echec de l'appel de l'API");
               },

            });
          }
        </script>

    </body>
</html>
