{% extends 'admin/base.html.twig' %}

{% block body %}
  <div class="content">
    <h1>Espace administrateur: Liste des catégories</h1>
    <a href="{{path('category_new')}}">Créer une nouvelle catégorie</a>

    <table>
        <thead>
            <tr>
                <th>Slug</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ category.slug }}</a></td>
                <td>{{ category.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'slug': category.slug }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">Create a new entry</a>
        </li>
    </ul>
  </div>
{% endblock %}
