{% extends 'base.html.twig' %}

{% block body %}

    <h1>Les articles de la catégorie {{ category.nom}}</h1>
    {% for article in articles %}
    <div class="itemArticle">
          <div class="photoArticle">

          </div>
          <div class="contentArticle">
            <div class="titreArticle">
              <a href="{{ path('article_show', { 'slug': article.slug }) }}">{{ article.titre }}
                {{ article.titre }}
              </a>
            </div>
            <div class="resumeArticle">
              {{ article.resume }}
            </div>
            <div class="dateArticle">
              {{ article.date|date('Y-m-d') }}
            </div>
          </div>
    </div>
    {% endfor %}


    <a href="{{ path('category_index') }}">Retour a la liste des categories</a>


{% endblock %}
