{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
      <h1 class="center">Articles récents</h1>

          {% for article in articles %}
          <div class="itemArticle">
              <div class="photoArticle">
                <img style="width:50px; height:50px; margin:auto;" src="{{ asset('uploads/images/' ~ article.categories.image)}}">
              </div>
              <div class="contentArticle">
                <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                  {{ article.titre }}
                </a>
                <div class="resumeArticle">
                  {{ article.resume }}
                </div>
                <div class="dateArticle">
                  {{ article.date|date('Y-m-d') }}
                </div>
              </div>
          </div>
          {% endfor %}

          <div style="width:300px; height:60px; background-color:black; color:white; line-height:60px; margin:auto;" class="button-retour center">
            <a style='color:white;' href="{{ path('homepage') }}">Retour a la liste des categories</a>
          </div>

    </div>
{% endblock %}
