{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="content">
      <h1>Article creation</h1>

      {{ form_start(form) }}
           {{ form_label(form.titre, null, {'label_attr': {'style':'color:red' }}) }}
          {{ form_errors(form.titre) }}

          {{ form_widget(form.titre, { 'attr':  {
              'class': 'toto'
          }}) }}

          <ul>
            {% for categorie in form.categories %}
              <li>{{form_row(categorie.nom)}}</li>
            {% endfor %}
          </ul>

          <input type="submit" value="Create" />
      {{ form_end(form) }}

      <ul>
          <li>
              <a href="{{ path('article_index') }}">Back to the list</a>
          </li>
      </ul>
    </div>

    <script>
    CKEDITOR.replace( 'article[contenu]' );
    </script>
{% endblock %}
