{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
      <h1>Article</h1>

      <table>
          <tbody>
              <tr>
                  <th>Crée par </th>
                  <td>{{ article.author }} le {{ article.date|date('Y-m-d')}}</td>
                  {% if app.user %}
                    {% if userSuivi %}
                        <div id="stopSuivre" class="suivre-user">Ne plus suivre</div>
                        <div id="suivre" class="suivre-user">Suivre</div>
                    {% endif %}
                    {% if userSuivi == false %}
                        <div id="suivre" class="suivre-user">Suivre</div>
                        <div id="stopSuivre" class="suivre-user">Ne plus suivre</div>
                    {% endif %}
                  {% endif %}

              </tr>
              <tr>
                  <th>Titre</th>
                  <td>{{ article.titre }}</td>
              </tr>

          </tbody>
      </table>
    </div>

    <div class="col-md-8" style="margin:30px 0">
        {{ article.contenu|raw  }}
    </div>

    <div class="fb-comments" data-href="{{ app.request.uri }}" data-numposts="5"></div>
    {% if is_granted("ROLE_ADMIN") %}
      <ul style="color:#2B2E39;">
          <li>
              <a href="{{ path('article_index') }}" style="color:#2B2E39; text-decoration:underline">Back to the list</a>
          </li>
          <li>
              <a href="{{ path('article_edit', { 'id': article.id }) }}" style="color:#2B2E39; text-decoration:underline">Edit</a>
          </li>

          <li>
              {{ form_start(delete_form) }}
                  <input type="submit" value="Delete">
              {{ form_end(delete_form) }}
          </li>
      </ul>
    {% endif %}


    <script>
    var userSuivi = "{{userSuivi}}";
    if(userSuivi){
      $('#suivre').hide();

    }else {
      $('#stopSuivre').hide();
    }

    var user= "{{ article.author }}";
    var follower = "{{follower}}";

    $( "#suivre" ).click(function() {
      $.ajax({
         url : Routing.generate('follower_add', {'user':user, 'follower':follower}),
         type : 'POST',
         success : function(res, statut){
             $('#stopSuivre').show();
             $('#suivre').hide();
         },

         error : function(resultat, statut, erreur){

         },

      });

    });

    $( "#stopSuivre" ).click(function() {
      $.ajax({
         url : Routing.generate('follower_delete', {'user':user, 'follower':follower}),
         type : 'POST',
         success : function(res, statut){
             $('#stopSuivre').hide();
             $('#suivre').show();
         },

         error : function(resultat, statut, erreur){

         },

      });
    });
    </script>
{% endblock %}
