{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ article.resume }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ article.author }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        {{ article.contenu|raw  }}
    </div>

    <div class="fb-comments" data-href="{{ app.request.uri }}" data-numposts="5"></div>
    {% if is_granted("ROLE_ADMIN") %}
      <ul>
          <li>
              <a href="{{ path('article_index') }}">Back to the list</a>
          </li>
          <li>
              <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
          </li>

          <li>
              {{ form_start(delete_form) }}
                  <input type="submit" value="Delete">
              {{ form_end(delete_form) }}
          </li>
      </ul>
    {% endif %}
{% endblock %}
